//Color pallete
$color-accent: #cf1111;
$text-primary-color-dark: black;
$text-primary-color-light: white;
$text-secondary-color: #666666;
//Our work
$our-work: #cccccc;
$our-work-red: #f35959;
$our-work-yellow: #edb11a;
$our-work-blue: #5e85ea;
$our-work-green: #82c64b;
$our-work-light-blue: #4fc5d1;
//Quotes
$quote-color: #e5e5e5;
//Crunched Menu
$faded-gray: #999999;
//Footer background
$footer-background: black;
